footer 
    .footer__main#contact
        .footer__main__about-us 
            h1 Contact Us
            ul.contact-list
                li
                    label(for="mail" class="label") Email
                    br
                    a(href="mailto:needhelp@organick.com" id="mail") needhelp@organick.com
                li
                    label(for="tel" class="label") Phone
                    br
                    a(href="tel:123 (1254) 1452" id="tel") 123 (1254) 1452
                li 
                    label(for="adr" class="label") Address
                    br
                    p 88 Road, Brooklyn Street, USA
        .footer__main__networks 
            img(src="img/footer-logo.svg", alt="logo")
            p We are a popular and farming company aspiring to be a leader in the Organic food industry.
            .logo-networks
            img(src="img/facebook.svg", alt="facebook")
            img(src="img/twitter.svg", alt="twitter")
            img(src="img/instagram.svg", alt="instagram")
            img(src="img/pinterest.svg", alt="pinterest")
        .footer__main__utility-pages
            h1 Utility Pages
            a(href="#") Style Guide
            a(href="#") Protected
            a(href="#") Page Not Found
            a(href="#") Changelog
            a(href="#") Licenses
    .footer__copyright Copyright © Organick | Designed by VictorFlow - Powered by Webflow