header 
    .page__header 
        .page__header__logo
            img(src="img/logo.svg", alt="logo")
        nav.page__header__nav
            ul.nav
                li.nav__item 
                    a.nav__link.active(href="#")  Home
                li.nav__item 
                    a.nav__link(href="#about") About Us
                li.nav__item 
                    a.nav__link(href="#shop") Shop
                li.nav__item 
                    a.nav__link(href="#pages") Pages
                li.nav__item 
                    a.nav__link(href="#contact") Contact Us
        .page__header__cart
            button(type="button").cart
                img(src="img/cart.svg", alt="cart")
                p Cart 
                    span 0