main 
    .bunner 
        .bunner__conteiner
            h2.bunner__title Made with nature
            h1.bunner__mein-title Welcome to the 
            h1.bunner__mein-title world of nature 
            h1.bunner__mein-title and organic.
            button.bunner__button 
                img(src="img/button-banner.svg", alt="button")
    .discount 
        .discount__item
            img(src="img/discount1.png", alt="discount1")
            .discount__text.first
                h2 Natural!!
                p Get Garden
                p Fresh Fruits
        .discount__item 
            img(src="img/discount2.png", alt="discount1")
            .discount__text.second
                h2 Offer!!
                p Get 10% off
                p on Vegetables
    .about#about 
        .about__box
            .about__img 
                img(src="img/about1.png", alt="about")
            .about__info
                h2 About Us
                h1 We Believe in Organic
                h1 Foods For Strong Health
                p Welcome to the world of natural and organic. Here you can discover the bounty of nature. We have grown on the principles of health, and care. We aim to give our customers a healthy chemical-free meal for perfect nutrition.
                ul.info__list 
                    li.list__item 
                        h3 Organic Foods Only
                        p The Product that you ordered will be verified that we have or not if have we will start to move on with the next step.
                    li.list__item  
                        h3 Quality Standards
                        p Once your product is packed it will be delivered to your nearby locality you can directly visit the to buy the product.
                button.about__button 
                    img(src="img/button-about.svg", alt="button")
    .product#shop
        .product__title
            h2 Organic
            h1 Our Products
        .product__box 
            .product__cart 
                .product-group Vegetable
                .product-foto 
                    img(src="img/broccoli.png", alt="broccoli")
                .product-property
                    p Calabrese Broccoli
                    hr
                    span.last__price $ 25.00 USD
                    span $ 21.00 USD
                    img(src="img/star.svg", alt="star")
            .product__cart 
                .product-group Vegetable
                .product-foto 
                    img(src="img/corn.png", alt="corn")
                .product-property
                    p Fresh Corn
                    hr
                    span.last__price $ 21.23 USD
                    span $ 18.00 USD
                    img(src="img/star.svg", alt="star")
            .product__cart 
                .product-group Millets
                .product-foto 
                    img(src="img/pistachio.png", alt="pistachio")
                .product-property
                    p Dried Pistachio
                    hr
                    span.last__price  $ 61.00 USD
                    span $ 48.00 USD
                    img(src="img/star.svg", alt="star")
            .product__cart 
                .product-group Vegetable
                .product-foto 
                    img(src="img/tomato.png", alt="tomato")
                .product-property
                    p Vegan Red Tomato
                    hr
                    span.last__price  $ 14.00 USD
                    span $ 9.37 USD
                    img(src="img/star.svg", alt="star")
            .product__cart 
                .product-group Millets
                .product-foto 
                    img(src="img/almonds.png", alt="almonds")
                .product-property
                    p Organic Almonds
                    hr
                    span.last__price  $ 21.00 USD
                    span $ 18.00 USD
                    img(src="img/star.svg", alt="star")
            .product__cart 
                .product-group Millets
                .product-foto 
                    img(src="img/huzelnut.png", alt="huzelnut")
                .product-property
                    p Brown Hazelnut
                    hr
                    span.last__price  $ 43.00 USD
                    span $ 34.00 USD
                    img(src="img/star.svg", alt="star")
    .pages#pages 
        .pages__item 
            img(src="img/pages1.png", alt="fruit juce")
            button Fruit Juice
        .pages__item 
            img(src="img/pages2.png", alt="fruit juce")
            button Organic Food
        .pages__item 
            img(src="img/peges3.png", alt="fruit juce")
            button Nuts Cookies
    .form-block
        .form-block__title 
            p Subscribe our
            p Newsletter
        form 
            input(type="email" pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$" placeholder="Enter your email address" required)
            button(type="submit")
                img(src="img/form-button.svg", alt="subscribe")
