doctype html
html(lang="en")
  head
    title= 'Organic shop'
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Yellowtail&display=swap" rel="stylesheet">
    style
      include styles/normalize.css
      include styles/style.css
  body
    .page
      include template/header
      include template/main
      include template/footer
    script(src="js/main.js") 